
.toggle-btn {
  position: relative;
  width: 30px;
  height: 15px;
  border-radius: 20px;
}

input[type="checkbox"] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#_2nd-toggle-btn span {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border: 2px solid #b3b3b3;
  border-color: #000;
  overflow: hidden;
  background-color: #fff;
  border-radius: 40px;
  transition: 0.8s ease border-color;
}

#_2nd-toggle-btn span:before {
  content: "";
  position: absolute;
  top: -2px;
  width: 15px;
  height: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: #000;
  margin-left: 0px;
  border-radius: 50%;
  transition: 0.4s ease border-radius, 0.4s ease transform, 0.6s ease width,
    0.6s ease margin-left, 0.8s ease border-color;
  transform: translate(13px, 0px);
}

#_2nd-toggle-btn input[type="checkbox"]:active + span:before {
  width: 15px;
  border-radius: 20px;
}

#_2nd-toggle-btn input[type="checkbox"]:checked:active + span:before {
  margin-left: -10px;
}

#_2nd-toggle-btn input[type="checkbox"]:checked + span {
  border-color: #b3b3b3;
}

#_2nd-toggle-btn input[type="checkbox"]:checked + span:before {
  border-color: #b3b3b3;
  transform: translate(-2px, 0px);
}
